{% extends 'layout.html' %}

{% block title %}
    Index, inicio
{% endblock %}

{% block content %}
    <h1>Hola mundo</h1>
    <h4>Tu nombre es: {{ name }}</h4>
    <h5>Tu edad es: {{ edad }}</h5>
    {% if dinero < 0 %}
        <p>Cantidad invalida</p>
    {% elif dinero == 0 %}
        <p>El numero debe ser positivo</p>
    {% else %}
        <p>El numero es positivo</p>
    {% endif %}

    <ul>
        {% for empleado in empleados %}
            <li>{{ empleado.nombre }} || {{ empleado.edad }} || {{ empleado.departamento }}</li>
        {% endfor %}
    </ul>

    <form action="/login" method="post">
        <input type="text" placeholder="Nombre" name="nombre">
        <button type="submit">Enviar</button>
    </form>
{% endblock %}