{% extends 'layout.html' %}

{% block title %}
    Categorias
{% endblock %}

{% block content %}
<form method="post" action="/categorias">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre categoria</label>
      <input name="nombre_categoria" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Descripcion</label>
      <input name="descripcion" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}