{% extends 'layout.html' %}

{% block title %}
    Detalles
{% endblock %}

{% block content %}
    <h1>Detalles del producto</h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5" bis_skin_checked="1">
            <div class="row gx-4 gx-lg-5 align-items-center" bis_skin_checked="1">
                <div class="col-md-6" bis_skin_checked="1"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."></div>
                <div class="col-md-6" bis_skin_checked="1">
                    <div class="small mb-1" bis_skin_checked="1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">{{ curso.title }}</h1>
                    <div class="fs-5 mb-5" bis_skin_checked="1">
                        <span class="text-decoration-line-through">$45.00</span>
                        <span>$40.00</span>
                    </div>
                    <p class="lead">
                        {{ curso.description }}
                    </p>
                    <div class="d-flex" bis_skin_checked="1">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

    <script type="module" src="{{ url_for('static', filename='card.js') }}"></script>

{% endblock %}