{% extends 'layout.html' %}

{% block title %}
    Eliminar
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Eliminar usuario</h2>
        <form method="post" action="/eliminar">
        <div class="form-group">
            <label for="usr">Nombre del usuario: </label>
            <input type="text" class="form-control" id="usr" name="username">
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
        </form>
  </div>
{% endblock %}