{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post" action="/login">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}